
body{
   background-color: #f1efef;
   overflow: hidden;
}
body.loaded{
   overflow: auto
}
/* for Loader */
.loading{
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #333;
   z-index: 999;
   text-align: center;
   opacity: 1;
   visibility: visible;
   overflow: hidden;
}
.loading .fa-spinner{
   position: absolute;

    top: 50%;
    transform: translate(-50%, -45%);
    color: #fff;
    left: 45%;
}

.loaded .loading{
   visibility: hidden;
   opacity: 0;
   transition: opacity ease-in 0.3s;
}
/* for Loader ends*/
.movie-container{
   margin-bottom: 30px;
   opacity: 0;
   visibility: hidden;
}
.loaded .movie-container{
   opacity: 1;
   visibility: visible;
   transition: opacity ease-in 0.3s;
}
.movie{
   margin: 0px 0px;
   display: flex;
   flex-direction: column;
   height: 100%;
   transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
   background-color: #fff;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
   cursor: pointer;
}

.movie:hover{
   transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.26), 0 0 0 1px rgba(0,0,0,0.18);
}
.movie .movie__poster{
   position: relative;
}

.movie .movie__poster .poster__image{
   max-width: 100%;
   width: 100%;
}
.moview__details{padding: 20px 20px 0px 20px;}
.moview__details h3{
   font-size: 15px;
   font-weight: bold;
}
.moview__details h5{
   font-size: 13px;
   margin-bottom: 0px;
}

/*poster overlay*/
.poster__overlay{

   position: absolute;
   width: 100%;
   top: 0;
   height: 100%;
   text-align: center;
   z-index: 99;
   background-color: rgba(51, 51, 51, 0.52);
   opacity: 0;
   visibility: hidden;
   transition: all ease-in 0.2s;
}
.poster__overlay .fa-link{
   position: absolute;
   top: 55%;
   transform: translateY(-55%);
   color: #fff;
   opacity: 0;
   visibility: hidden;
   transition: transform 0.3s, opacity 0.3s;
   border: 1px solid #fff;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 800px;
   margin: 0 auto;
   left: 0;
   right: 0;
}

.movie:hover .poster__overlay{
   opacity: 1;
   visibility: visible;
}

.movie:hover .poster__overlay .fa-link{
   transform: translate3d(0,-50px,0);
   opacity: 1;
   visibility: visible;
}
/*poster overlay ends*/

/* for details page */
.movie-detail{
   width:100%;
}
.banner{
   padding: 200px;
   background-size: cover;
   background-position: center top;
   background-repeat: no-repeat;
}
.movie-title{
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: flex-start;
   position: relative;
   /* height: auto; */
}

.movie-title img{
   width: 25%;
   position: absolute;
   top:-114px;
   -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.movie-title .title{
   margin-top: 50px;
   padding-left: 320px;
   -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.2s;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.2s;
}

.movie-title .title h2{
   margin-bottom: 20px;
   font-weight: bold;
   margin: 0px 0px 20px 0px;
}

.movie-title .title h3{
   font-style: italic;
}
.movie-description{
   position: relative;
   top: 100px;
   -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.3s;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.3s;
   
}


.back{
   position: absolute;
   top: -187px;
   z-index: 999;
   background: #fff;
   width: 40px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   border-radius: 800px;
   left: -12px;
   cursor: pointer;
}
.back i{
   color: #dc4f55;
}

@media(max-width: 767px){
   .movie-title{
      flex-direction: column;
      position: relative;
   }
   .movie-title img{
      width: 85%;
      position: relative;
      margin: 0 auto;
   }
   .movie-title .title {
      margin-top: -185px;
      padding-left: 0px;
  }
  .movie-description{
     top: 10px;
  }
  .back{
     left: 8px;
  }
}